{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1>Réinitialiser votre mot de passe</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Indiquer votre adresse email pour l'envoi du lien.
            </small>
        </div>

        <button class="btn btn-primary">Envoyer</button>
    {{ form_end(requestForm) }}
{% endblock %}