<section class="jumbotron shadow-lg text-center p-5 m-5">
    <div class="container">
        <h1 class="jumbotron-heading">Todo List</h1>
        <p class="lead text-muted">Bienvenue sur l'application vous permettant de gérer l'ensemble de vos taches
            sans effort.</p>
        {% if not app.user %}
            <a class="btn btn-primary btn-lg" href="{{ path('app_login') }}" role="button"><i
                        class="fas fa-sign-in-alt"></i> Connexion</a>
        {% else %}
        <a class="btn btn-primary btn-lg" href="{{ path('task_list') }}" role="button"><i
                    class="fa fa-tasks"></i> Accéder aux tâches</a>
        {% endif %}

    </div>
</section>