<div class="container">
    <section class="jumbotron shadow text-center p-3 mt-5">
        <div class="container">
            <h1 class="jumbotron-heading">Todo List</h1>
            <p class="lead text-muted">Gérer vos tâches via l'application
                sans effort.</p>
        </div>
    </section>
</div>