<!-- Modal -->
<div class="modal fade" id="myModal{{ task.id }}" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ task.title }}</h4>
            </div>
            <div class="modal-body">
                <p>{{ task.content }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>