{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <section class="jumbotron shadow-lg p-3 m-5">
            {{ form_start(form, {'action' : path('task_edit', { 'id' : task.id })}) }}
            {{ form_widget(form) }}

            <button type="submit" class="btn btn-success pull-right m-2">Modifier</button>
            {{ form_end(form) }}
        </section>


    </div>
{% endblock %}
