{% extends 'base.html.twig' %}

{% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_content.jpg') }}"
                           alt="todo list">{% endblock %}

{% block body %}
    <h4>Liste des Tâches</h4>
    {{ include('task/_task2.html.twig') }}


{% endblock %}


