{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <h1>Accès Interdit</h1>

        <p>Vous n'avez pas accès à cette page.</p>

        <a class="btn btn-primary btn-lg" href="{{ path('homepage') }}">
            <i class="fas fa-house-user"></i> Retour</a>

    </div>
{% endblock %}